.navbar {
    background-color:  #4f868c;
}

.head1{
    color: #FBAD30;
    font-size: 25px;
    font-weight: bold;
    height: 50px;
}

.head2 {
    color: #EF4926;
    font-size: 25px;
    font-weight: bold;
}