{% extends 'admin_navbar.html' %}

{% block title %} All Applicants {% endblock %}
{% block all_applicants %} active {% endblock %}
{% block css %}
{% endblock %}

{% block content %}
<div class="container mt-4">
    <table class="table table-hover" id="example">
        <thead>
            <tr>
                <th>id</th>
                <th>Имя пользователя</th>
                <th>Фамилия пользователя</th>
                <th>Телефон</th>
                <th>Тип</th>
                <th>Удалить</th>
            </tr>
        </thead>
        <tbody>
            {% for i in applicants %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{i.user.first_name}}</td>
                <td>{{i.user.last_name}}</td>
                <td>{{i.phone}}</td>
                <td>{{i.type}}</td>
                <td><a href="{% url 'index' %}delete_applicant/{{i.user.id}}/" class="btn btn-danger" onclick="return confirm('Вы действительно хотите удалить этого кандидата?')">Удалить</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
{% endblock %}
