{% extends 'base.html' %}

{% block title %} Авторизация компании {% endblock %}

{% block content %}

<form method="post">
    {% csrf_token %}
    <div class="container mt-5">
        <h6>Еще не зарегестрировались? ---> <a href="{% url 'company_register' %}" type="submit" class="btn"
        style="background-color: #4f868c; color: white;">Зарегистрироватся</a></h6>

        <div class="mb-3">
            <label for="username" class="form-label"><i style="font-weight: bold;">Имя пользователя</i></label>
            <input type="text" class="form-control" id="username" name="username" placeholder="Введите имя пользователя">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label"><i style="font-weight: bold;">Пароль</i></label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Введите пароль">
        </div>
        <br>
        <input type="submit" value="Войти" class="btn" style="background-color: #4f868c; color: white; font-size: larger; width: 8rem;">

    </div>
</form>
{% endblock %}

{% block js %}
<script>
    {% if message %}
    alert("Подождите пока администратор примет вашу заявку");
    window.location.href = "{% url 'index' %}company_login/"
    {% endif %}

    {% if alert %}
    alert("Неправильные данные");
    window.location.href = "{% url 'index' %}company_login/"
    {% endif %}
</script>
{% endblock %}